<style>
    #intro{
        /* background-image: url("assets/bg.png"); */
    background-color: rgb(255, 255, 255);
      background-size: cover;
      background-position: fixed;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    .container {
  position: relative;
  text-align: center;
  color: white;
    }

    #transition{
            transition: 0.5s, transform 1s;
        }
    #transition:hover{
            scale: 110%;
        }

    .centered {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

    #bgimg{
        background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73));
    width: 80%;
    height: 400px;
    background-size: cover;
    color: white;
    padding: 20px;
    }

    @import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
</style>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<marquee behavior="" direction=""><h5 style="color: rgb(66, 66, 66) ; margin: 10px;font-family: 'Quintessential', cursive;"><strong>Browse through best laptops and buy to get 10% instant cashback.</strong></h5>
</marquee>

<div id = "intro"class="row">
        <!-- <app-child></app-child> -->
        <div class="col col-lg-12" >
            <div  class="row" float="left">
                    <div style="margin-top: 50px ;" id="transition" class="container">
                        <a target="_blank" href="https://www.apple.com/in/mac/">
                            <img style="height: 600px ; width:1000px; margin-left: 100px;"  src="https://www.apple.com/v/macbook-pro-14-and-16/b/images/overview/hero/intro__ewz1ro7xs14y_large_2x.jpg" alt="">
                        </a>
                    </div>
            </div>
        </div>
            <div style="margin-top: 80px;">
                <div style="font-size: 5rem ; margin-left:200px" data-aos="zoom-in"> <strong>Supercharged for pros.</strong></div>
                <div data-aos="zoom-in" >
                    <pre style="font-size: 1.5rem;">
                        <strong>
                    The most powerful MacBook Pro ever is here.With the 
                    blazing-fast M1 Pro or M1 Max chip — the first Apple 
                    silicon designed for pros — you get groundbreaking 
                    performanceand amazing battery life. Add to that a
                   stunning Liquid Retina XDR display, the best camera and
                   audio ever in a Mac notebook, and all the portsyou need.
                   The first notebook of its kind, this MacBook Pro is a beast.
                        </strong>
                    </pre>
                </div>
            </div>
            <div style="margin-top: 50px ;" class="row">
                <div data-aos="fade-right"
                data-aos-offset="300"
                data-aos-easing="ease-in-sine" class="col col-6">
                <div>
                    <p style="font-size: 2rem ;" ><strong> 14″ MacBook Pro</strong></p>
                </div>
                <div>
                    <pre style="color: rgb(56, 56, 197) ;">
                        <strong>
    Up to                   Up to

    17hours                 11hours
    of video playback       of wireless web browsing
</strong>
                    </pre>
                </div>
                <img id="transition" style="height:100px; width:500px" src="assets/mac.jpg" alt="">
                </div>
                <div data-aos="fade-left"
                data-aos-offset="300"
                data-aos-easing="ease-in-sine" class="col col-6">
                <div>
                    <p style="font-size: 2rem ; margin-left: 150px;" ><strong> 16″ MacBook Pro</strong></p>
                </div>
                <div>
                    <pre style="color: rgb(56, 56, 197) ;">
                    <strong>
                    Up to                   Up to

                    21hours                 14hours
                    of video playback       of wireless web browsing
                </strong>
                    </pre>
                </div>
                <img id="transition" style="height:100px; width:510px; margin-left: 120px;" src="assets/mac side.jpg" alt="">
                </div>

            </div>
</div>

<hr><hr>

<div style="margin-top: 150px ; margin-bottom: 50px;" class="col col-12">
    <div data-aos="zoom-in" style="font-size: 4rem ; margin-left:580px; margin-bottom: 20px;"><strong>DELL</strong></div>
    <img id="transition"  src="https://cdn1.smartprix.com/rx-iXMi3TNHD-w1200-h1200/dell-inspiron-7620-l.webp" alt="">
</div>

<div  class="row">
    <div  class="col col-6" data-aos="zoom-in-right" >
        <div class="centered">
            <pre style="font-size:1rem ;">
            <strong>
                Dell Inspiron 5406 Intel
            11th Gen i3-1115G4 14 inches FHD
                Display 2 in 1 Laptop
            </strong>
            </pre>
        </div>
        <img src="assets\dell-leftside.jpg" alt="">

    </div>
    <div class="col col-6" data-aos="zoom-in-left">
        <div class="centered">
            <pre style="font-size:1rem ;">
            <strong>
                4GB / 256GB SSD / 
            Integrated Graphics/ Windows 10 
    + MS Office / Backlit with FPR / Platinum Silver
            </strong>
            </pre>
        </div>
        <img src="assets/dell-rightside.jpg" alt="">
    </div>
</div>
<div data-aos="fade-up" style="background-color: rgb(0, 0, 0) ;">
    <strong>
        <pre  style="font-size: 4rem ; color: rgb(233, 245, 229);">
        Switch Easily Between 
         4 Different Modes
        </pre>
    </strong>
    <div>
        <ul style="color: white ;">
            Tent Mode
            Stand Mode
            Laptop Mode
            Tablet Mode
        </ul>
    </div>
</div>


<hr><hr>
            <!-- <div class="col col-6">
                <div style="margin-top: 100px ;" id="transition" data-aos="zoom-out-left"  class="container">
                    <a target="_blank" href="https://www.dell.com/en-in/shop/scc/sc/laptops?gacd=10415953-9016-5761040-285981356-0&dgc=ST&gclid=CjwKCAjwpqCZBhAbEiwAa7pXeQiW_4uZBoLUeZNAUCOv0h3YJNVEXkrTxjoNTpDhrm_5w-W5nkI_CRoCfFMQAvD_BwE&gclsrc=aw.ds&nclid=FNll4ivS_rD1bQeluqG8lLs1SU_qh8CFv7n8KadD8b4LlL1_aGCNC9BcBXxXeEfh">
                        <img style="height: 400px; width: 600px; margin-left: 200px;"  src="https://c1.wallpaperflare.com/preview/552/758/364/computer-laptop-macbook-coding.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="row" float="left">
                <div class="col col-6">
                    <div id="transition" class="container">
                    <a target="_blank"  href="">
                        <img src="https://images.unsplash.com/photo-1533908279087-2448f4554f18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZGFyayUyMGxhcHRvcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" alt="">
                    </a>
                    <div class="centered">ASUS</div>
                </div>
                </div>
                <div class="col col-6">
                    <div id="transition" data-aos="zoom-out-left">
                            <a href="">
                                <img src="https://media.istockphoto.com/photos/a-laptop-in-the-dark-from-the-corner-picture-id1321551304?k=20&m=1321551304&s=612x612&w=0&h=F7sBr6f9u6qJc4zlxS_q1gxxMHpAVf6nqEzQyI3CrwA=" alt=""></a>    
                    </div>
                </div>
            </div> -->
            <!-- <app-child></app-child> -->

