<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> <img src="{{logo}}" alt=""  style="width: 140px; height:70px" > </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="products">All Products</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" *ngIf="auth || admin"  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"  aria-expanded="false">
              Browse Products
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="laptops">Laptops</a></li>
              <li><a class="dropdown-item" routerLink="mobile">Mobiles</a></li>
              <li><a class="dropdown-item" routerLink="headphones">Headphones</a></li>
              <li><a class="dropdown-item" href="#">Watches</a></li>
              <li><a class="dropdown-item" href="#">Camera</a></li>
              <li><a class="dropdown-item" href="#">Shoes</a></li>
              <li><a class="dropdown-item" href="#">TV's</a></li>
              <li><a class="dropdown-item" href="#">Joysticks</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="">Contact</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register" *ngIf="!auth && !admin">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="allproducts" *ngIf="admin" >Admin</a>
          </li>
        </ul>
        <form  *ngIf="auth || admin" class="d-flex">
          <button routerLink='cartitem'  class="btn btn-dark" style="color: aliceblue;">
            <span class="fa fa-cart-plus" style="font-size:20px;color:rgb(255, 255, 255)"><sup class="text-black" style="font-size:10px;margin-left: 3px;;">{{cartCount}}</sup></span>
          </button> &nbsp;&nbsp;&nbsp;
          <!-- <input type="text" #productname  placeholder="Enter product name" style="border-radius:10px;" >&nbsp;
            <button class="btn btn-outline-primary" (click)="search_product(productname.value);productname.value=''" type="submit">Search</button>
          <app-search [product]="productentered"></app-search> -->
        </form>
        <a class="btn" *ngIf="auth || admin" type="submit" style="border-radius:10px;color:rgb(197, 68, 68);"  routerLink="login">Logout</a>
      </div>
    </div>
  </nav>