<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    #myBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(67, 53, 53, 0.235); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
     #intro {
      background-image: url("assets/background.jpg");
      background-size: cover;
      background-position: fixed;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    #transition{
            transition: 0.5s, transform 1s;
        }
    #transition:hover{
            scale: 110%;
        }
    
  </style>
</head>
<body>

  <div id="intro" class="bg-image shadow-2-strong">
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
      <!-- <div  *ngFor="let products of productdetails"  style="float:left;">
          <div class="col">
            <div class="container mt-3">
              <div class="card" style="width:20rem; margin: 30px;" >
                <img class="card-img-top" src="{{products.image}}" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">{{products.pname}}</h4>
                  <p class="card-text" [style.font-size]="'17px'" >{{products.pdescription}}</p>
                  <div class="card-text" [ngSwitch]="products.status" >
                    <p *ngSwitchCase="'In Stock'" class="text-success">Status : {{products.status}}</p>
                    <p *ngSwitchCase="'Out of Stock'" class="text-danger">Status : {{products.status}}</p>
                  </div>
                  <a href="#" class="btn btn-primary">See More</a>
                </div>
              </div>
            </div>
          </div>
      </div> -->

      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="container mt-3">
              <div class="card"  id="transition" style="width:400px; margin-left: 65px;">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1542393545-10f5cde2c810?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZGFyayUyMGxhcHRvcHxlbnwwfHwwfHw%3D&w=1000&q=80" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">LAPTOP</h4>
                  <p class="card-text">Make the most of every day with the sleek style, performance, and all-day battery life you need in our lightest Surface Laptop, all at an exceptional price</p>
                  <p class="card-text"  style="color: green;">Status : In Stock</p>
                  <a href="laptops" target="_blank" class="btn btn-primary">See More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="container mt-3">
              <div class="card"  id="transition" style="width:400px; margin-left: 50px; margin-top: 100px;">
                <img class="card-img-top" src="https://c0.wallpaperflare.com/preview/850/184/1002/phone-iphone-mobile-screen.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">MOBILES</h4>
                  <p class="card-text">Apple iPhone 13 Mini (512GB) price in India starts from ₹93,469. It is available at lowest price on Flipkart in India as on Sep 14, 2022. Take a look at Apple iPhone 13 Mini (512GB) detailed specifications and features.</p>
                  <p class="card-text"  style="color: red;">Status : Out of Stock</p>
                  <a href="mobile" target="_blank" class="btn btn-primary">See More</a>
                </div>
              </div>
            </div>       
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="container mt-3">
                <div class="card"  id="transition" style="width:400px; margin-left: 10px;">
                  <img class="card-img-top" src="https://images.pexels.com/photos/3574678/pexels-photo-3574678.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Card image" style="width:100%">
                  <div class="card-body">
                    <h4 class="card-title">HEADPHONES</h4>
                    <p class="card-text">Zebronics Zeb-Paradise Over-Ear Wireless Headphone with Mic (Bluetooth 4.2, Built-in FM Radio, Blue)</p>
                    <p class="card-text" style="color: green;">Status : In Stock</p>
                    <a href="https://zebronics.com/collections/peripheral-z?product_type=Premium+Gaming+Headphone&q=head"  target="_blank"class="btn btn-primary">See More</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="container mt-3">
                <div class="card"  id="transition" style="width:400px; margin-left: 250px; margin-top: 200px;">
                  <img class="card-img-top" src="https://images.unsplash.com/photo-1526648856597-c2b6745ad7bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2F0Y2glMjB3YWxscGFwZXJ8ZW58MHx8MHx8&w=1000&q=80" alt="Card image" style="width:100%">
                  <div class="card-body">
                    <h4 class="card-title">WATCHES</h4>
                    <p class="card-text">Analog Men's Watch.</p>
                    <p class="card-text" style="color: green;" >Status : In Stock</p>
                    <a href="https://www.omegawatches.com/suggestions/omega-mens-watches" target="_blank" class="btn btn-primary">See More</a>
                  </div>
                </div>
              </div>       
              </div>
          </div>

            <div class="row">
              <div class="col">
                <div class="container mt-3">
                  <div class="card"  id="transition" style="width:400px; margin-left: 10px; margin-top: 150px;">
                    <img class="card-img-top" src="https://c4.wallpaperflare.com/wallpaper/1003/3/727/background-widescreen-the-camera-nikon-lens-hd-wallpaper-preview.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                      <h4 class="card-title">CAMERA</h4>
                      <p class="card-text">Nikon D7500 20.9MP Digital SLR Camera (Black) with AF-S DX NIKKOR 18-140mm f/3.5-5.6G ED VR Lens</p>
                      <p class="card-text" style="color: green;">Status : In Stock</p>
                      <a href="https://www.omegawatches.com/suggestions/omega-mens-watches" target="_blank" class="btn btn-primary">See More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="container mt-3">
                  <div class="card"  id="transition" style="width:400px; margin-left: 50px;">
                    <img class="card-img-top" src="https://c1.wallpaperflare.com/preview/755/46/382/shoes-boots-nike-air.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                      <h4 class="card-title">SHOES</h4>
                      <p class="card-text">Air Jordan 1 Heritage Style (6)</p>
                      <p class="card-text" style="color: red;" >Status : Out of Stock</p>
                      <a href="https://www.nike.com/w/mens-basketball-shoes-3glsmznik1zy7ok" target="_blank" class="btn btn-primary">See More</a>
                    </div>
                  </div>
                </div>       
                </div>
            </div>

            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-3 col-md-6 col-lg-4">
                  <div class="container mt-3">
                    <div class="card"  id="transition" style="width:400px; margin-left: 0px">
                      <img class="card-img-top" src="https://m.media-amazon.com/images/W/WEBP_402378-T1/images/I/81i7t0AP1oL._SL1500_.jpg" alt="Card image" style="width:100%">
                      <div class="card-body">
                        <h4 class="card-title">TV's</h4>
                        <p class="card-text">Kodak 139 cm (55 inches) 4K Ultra HD Smart Android LED TV 55UHDX7XPROBL (Black) (2022 Model) | With Bezel-Less Design</p>
                        <p class="card-text" style="color: green;">Status : In Stock</p>
                        <a href="#https://www.lg.com/in/oled-tvs?utm_source=SA&utm_medium=PSE&utm_campaign=IN_HE_TV_OLED_AO_PHD_PSE_CON_COM_Exact_lg.com_CI-49142001418-2&gclid=Cj0KCQjw94WZBhDtARIsAKxWG--UhmUgVWlDGedEpvYz0OcQCQaYPRTW8c_s36V_h7oVcZ4JO4fRLG0aAmN1EALw_wcB" target="_blank" class="btn btn-primary">See More</a>
                      </div>
                    </div>
                  </div>    
                </div>
                <div class="col-sm-9 col-md-6 col-lg-8">
                  <div class="container mt-3">
                    <div class="card"  id="transition" style="width:400px; margin-left: 360px; margin-top: 200px;">
                      <img class="card-img-top" src="https://wallpapercave.com/wp/wp2276052.jpg" alt="Card image" style="width:100%">
                      <div class="card-body">
                        <h4 class="card-title">JOYSTICKS</h4>
                        <p class="card-text">ZEBRONICS Zeb-MAX Play Windows Compatible 2.4GHz Wireless Gamepad with 10H* Backup, Turbo Mode, Dual Vibration Motors, Quad Front triggers, Type C Rechargeable and Plug & Play Setup</p>
                        <p class="card-text" style="color: green;">Status : In Stock</p>
                        <a href="https://www.thrustmaster.com/en-gb/universe/controllers/" target="_blank" class="btn btn-primary">See More</a>
                      </div>
                    </div>
                  </div>     
                </div>
              </div>
            </div>
      </div>
    <iframe id="transition" width="560" height="315" style="margin-left: 50px ; margin-bottom: 10px;" src="https://www.youtube.com/embed/UbpuZCB3x9k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe id="transition" width="560" height="315" style="margin-left: 50px ; margin-top:20px; margin-bottom: 10px;" src="https://www.youtube.com/embed/QuMWSrJyt3o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <app-footer></app-footer>
  </body>
</html>