<section class="vh-100" style="background-color: rgb(56, 56, 56); margin-top: 10px; margin-bottom: 270px;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
  
                  <form class="mx-1 mx-md-4" [formGroup]="registerForm" (ngSubmit)="submitHandler()">
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" name="username" formControlName="username" class="form-control" placeholder="Your Name" />
                        <label class="error ng-binding" *ngIf="submitted && f['username'].invalid">Name is required</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="email" name="useremail" formControlName="useremail" class="form-control" placeholder="Your Email" />
                        <label class="error ng-binding" *ngIf="submitted && f['useremail'].invalid">Email is required
                        </label>
                    <label class="error ng-binding" *ngIf="submitted && f['useremail'].errors?.['useremail'].invalid">Email must
                        be a
                        valid email address</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" name="password" formControlName="password" class="form-control" placeholder="Password" />
                        <label class="error ng-binding" *ngIf="submitted && f['password'].errors?.['password'].invalid">Password is
                          required</label>
                      <label class="error ng-binding" *ngIf="submitted && f['password'].errors?.['minlength'].invalid">Password
                          must be at least 6 characters</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-phone fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" name="mobile" formControlName="mobile" class="form-control" placeholder="Mobile Number"/>
                        <label class="error ng-binding" *ngIf="submitted && f['mobile'].errors?.['mobile'].invalid">Mobile number
                          is
                          required</label>
                      </div>
                    </div>
  
                    <div class="form-check d-flex justify-content-center mb-5">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                      <label class="form-check-label" for="form2Example3">
                        I agree all statements in <a href="#!">Terms of service</a>
                      </label>
                    </div>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg">Register</button>
                    </div>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Have an account? <a href="login"
                      style="color: #393f81;">Login here</a></p>
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="assets/bg3.jpg"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>